
.trailer-button {
  margin-top: 20px;
  padding: 5px 10px; 
  font-size: 1rem; 
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.trailer-button:hover {
  background-color: #0056b3;
}


.review-button {
  background-color: #f39c12;
  color: white;
  text-align: center;
  display: block;
  padding: 5px 10px; 
  font-size: 1rem; 
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.review-button:hover {
  background-color: #e67e22;
}

.trailer-button, .review-button {
  display: block;
  width: 100%; /* Make both buttons take the full width of the parent */
  text-align: center; /* Center the text */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}