/* Styles for the Home component */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.movie-card {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Review button */
.review-button {
  background-color: #f39c12;
  color: white;
  text-align: center;
  display: block;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.review-button:hover {
  background-color: #e67e22;
}

/* Watch Trailer button */
.trailer-button {
  background-color: #3498db;
  color: white;
  text-align: center;
  display: block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.trailer-button:hover {
  background-color: #2980b9;
}
